build/
*.spec
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw

tests/
dbcenv/
.venv/


#ignore dbcs
dbc/
dbc/*.dbc

# Release packages and executables
release-*/
release-linux-*/
*.exe
dist/
*.zip
*.AppImage
*.tar.gz
DBCUtility.AppDir/

# Linux builds
linuxBuilds/